/* SideMenu.css */
.side-menu {
  width: 100px; /* Adjusted width to make it more narrow */
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #000; /* Black background */
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  color: #66ff66; /* Green text color */
}

.side-menu h2 {
  margin-top: 0;
  color: #66ff66; /* Green text color */
  font-size: 18px; /* Adjusted font size */
}

.side-menu ul {
  list-style-type: none;
  padding: 0;
}

.side-menu ul li {
  padding: 10px;
  cursor: pointer;
  color: #66ff66; /* Green text color */
  border: 1px solid #66ff66; /* Green border */
  margin-bottom: 10px;
  text-align: center;
  background-color: #000; /* Black background */
}

.side-menu ul li.active,
.side-menu ul li:hover {
  background-color: #333; /* Darker background on hover */
}

.side-menu ul li.active {
  color: #fff; /* White text color for active item */
}

.side-menu ul li:hover {
  color: #fff; /* White text color on hover */
}
